body{
    font-family: 'Roboto' sans-serif;
    font-size: 21px;
    margin:0;
    font-weight: normal;
    text-align:center ;

}
h1{
font-size: 60px;

}   
h2{
    font-size: 42px; 
    margin-bottom: 10px;
    font-weight: 100;
}
h3{
    font-size: 36px;

}
.small{
    font-size: 16px;
}
header{
    background-color: #d7d7d7;
    padding: 100px 0;
}
.header img{
    border-radius: 50px;
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: #EAF9FE solid 5PX;
}
body{
    font-family: 'Roboto' sans-serif;
    font-size: 21px;
    margin:0;
    font-weight: normal;
    text-align:center ;

}
h1{
font-size: 60px;

}   
h2{
    font-size: 42px; 
    margin-bottom: 10px;
    font-weight: 100;
}
h3{
    font-size: 36px;

}
.small{
    font-size: 16px;
}
header{
    background-color: #d7d7d7;
    padding: 100px 0;
}
.header img{
    border-radius: 50px;
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: #EAF9FE solid 5PX;
}
